
   /* questi sono i vari box per ogni club */

#rettangolo1{
    display: block;
    position: relative;
    left: 200px;
    top: 15px;
    border-radius: 12px;
    width: 400px;
    height: 150px;
    background: rgb(46, 185, 41);
}  
#rettangolo2{
    display: block;
    position: relative;
    left: 200px;
    top: 15px;
    border-radius: 12px;
    width: 400px;
    height: 150px;
    background: rgb(135, 37, 173);
}   
  #rettangolo3{
    display: block;
    position: relative;
    left: 200px;
    top: 15px;
    border-radius: 12px;
    width: 400px;
    height: 150px;
    background: rgb(153, 151, 21);
}    
 #rettangolo4{
    display: block;
    position: relative;
    left: 200px;
    top: 15px;
    border-radius: 12px;
    width: 400px;
    height: 150px;
    background: rgb(150, 64, 64);
}        
#rettangolo5{
    display: block;
    position: relative;
    left: 200px;
    top: 15px;
    border-radius: 12px;
    width: 400px;
    height: 150px;
    background: rgb(57, 44, 112);
}      
    
    
    
    /* questo è il discord style navbar  */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

body {
    background: #36393f;
  }


nav {
  background: #202225;
  float: left;
  height: 100%;
  width: 72px;
}

nav a {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 50%; /* lo rende un cerchio*/
  background: #36393f;
}
  

nav {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 15px; 
  padding-top: 12px;
}


nav hr {
  display: block;
  width: 32px;
  height: 2px;
  border-radius: 196px;
  border: none; 
  background: #36393f;
}

/* dare quel effetto di colore quando il cursore ci passa sopra e farlo anche sembrare "smooth" */

nav a:hover,
nav a.active {
  border-radius: 25%;
  background: #3ba55d;
}

nav a {
  transition: border-radius 250ms, background 250ms;
}

nav a::after { 
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 200px;
  background: white;
}

nav a::after {
  position: absolute;
  right: 57px; 
  top: 50%;
  transform: translateY(-50%);
}

nav a {
  position: relative;
}


nav a:hover::after {
  height: 18px;
}

nav a.active::after {
  height: 32px;
}


nav a::after {
  transition: height 250ms;
}



nav a .tooltip {
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  font-size: 14px;

  padding: 10px 12px;
  margin-left: 10px;
  border-radius: 8px;
  
  display: none;
  width: max-content; 
  
  background: #000000;
}


nav a .tooltip {
  position: absolute;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
}


nav a .tooltip::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
}

nav a .tooltip::after {
  border-top:   5px solid transparent;
  border-bottom:5px solid transparent; 
  border-right: 5px solid #000000;
}


nav a .tooltip::after {
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}


nav a .tooltip {
  display: none;
}


nav a:hover .tooltip {
  display: block;
}
